<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a mi familia </title>
</head>
<body>
    <h1 style="color: lightcoral">{{mensaje}}</h1>
    <h2>Tené en cuenta que para conocer a cada miembro de mi familia, deberás tipear:</h2>
    <p>Para Inés: mamá</p>
    <p>Para Guillermo: papá</p>
    <p>Para Amparo: hija</p>
    <p>Para Pablo: novio</p>
    
</body>
</html>